# database settings

DB_USER=postgres
DB_HOST=db
DB_NAME=postgres
DB_PORT=5432
DB_PASSWORD=password
DB_DRIVER=postgresql+asyncpg

# kafka settings

KAFKA_BOOTSTRAP_SERVERS=kafka:19092
KAFKA_TOPIC=applications